<h1>Add comment</h1>
<%= form_for @comment, :action => 'create' do |f| %>
    <fieldset>
      <div>
        <%= label_tag :user_name, 'User name:' %>
        <%= text_field_tag :user_name, params[:user_name] %>
      </div>

      <div>
        <%= f.label :content, 'Comment:' %>
        <%= f.text_area :content %>
      </div>

      <div>
        <%= f.submit "Send" %>
      </div>
    </fieldset>
<% end %>
