<!DOCTYPE html>
<html>
<head>
  <title>RjTest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to "Add comment", "/" %></li>
    <li><%= link_to "Top 10 active users", "/top10" %></li>
  </ul>
</nav>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
